<footer>
  <div class="container">
    <div class="row">
      <div class=" row col-lg-12">
        <div class="col-lg-7">
          <ul class="list-inline text-center">
            <li>
              <a href="../index.php">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="../index.php#home-page-1">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="properties.php">Properties</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="application.php">Application</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="articles.php">Articles</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a target="_blank" href="https://lillypad.gocashbox.com/">Pay Online</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="https://www.facebook.com/The-Lilly-Pad-Palm-Beach-300926496715593/?fref=ts" target="_blank">Facebook Page</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="https://plus.google.com/u/0/b/101325822073640161186/101325822073640161186/posts" target="_blank">Google+ Page</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="contact.php">Contact</a>
            </li>

          </ul>
          <p class="copyright text-muted medium text-center">Copyright &copy; The Lilly Pad West Palm Beach, All Rights Reserved</p>
        </div>
        <div class="col-lg-2">
          <p class="text-center">
            <a href="http://farronline.org">
              <img class="img-responsive pull-right farr-logo" src="/img/farr-logo-120x71.png" target="_blank"
                   alt="FARR Certified Halfway House"/>
            </a>
          </p>
        </div>
        <div class="col-lg-3">
          <p class="text-center">
            <a href="http://www.kbsoftwaresolutions.com"><img src="/img/kb-logo-150x75.png" target="_blank" 
                                                              alt="KB Software Solutions Web Design"/></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/lilly-pad.min.js"></script>